<template>
    <div>
        <div class="row">
            <div class="col-md-8">
                <div id="maps"></div>
            </div>
            <div class="col-md-4">
                <form action="">
                    <!--Label: County, Attributes: countys-->
                    <div class="form-group ">
                        <label for="countys" class=" col-form-label">County</label>
                        <div>
                            <select class="form-control" id="countys"
                                    v-model="countys"
                                    @change="mutisya"
                                    name="countys"
                                    :class="{ 'is-invalid' : errors.countys }" autocomplete="off">
                                <option :value="co.id" v-for="co in allcounties">{{ co.name}}</option>
                            </select>
                            <div class="invalid-feedback" v-if="errors.countys">
                                <strong>{{ errors.countys.toString() }}</strong>
                            </div>
                        </div>
                    </div>
                    <!--Label: Constituency, Attributes: constituency-->
                    <div class="form-group">
                        <label for="constituency" class="col-form-label">Constituency</label>
                        <div>
                            <select type="text" class="form-control" id="constituency"
                                    v-model="constituency"
                                    name="constituency"
                                    @change="drawcon"
                                    :class="{ 'is-invalid' : errors.constituency }" autocomplete="off">
                                <option :value="con.id" v-for="con in allconstituency">{{con.name}}</option>
                            </select>
                            <div class="invalid-feedback" v-if="errors.constituency">
                                <strong>{{ errors.constituency.toString() }}</strong>
                            </div>
                        </div>
                    </div>
                    <!--Label: Ward, Attributes: ward-->
                    <div class="form-group ">
                        <label for="ward" class="col-form-label">Ward</label>
                        <div>
                            <select type="text" class="form-control" id="ward"
                                    v-model="ward"
                                    @change="getwardcoords"
                                    name="ward"
                                    :class="{ 'is-invalid' : errors.ward }" autocomplete="off">
                                <option :value="wa.id" v-for="wa in allwards">{{ wa.name}}</option>
                            </select>
                            <div class="invalid-feedback" v-if="errors.ward">
                                <strong>{{ errors.ward.toString() }}</strong>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "countymap",
        props: {
            county: {},
            allcounties: {}
        },
        data() {
            return {
                countys: '',
                errors: '',
                constituency: '',
                allconstituency: '',
                ward: '',
                allwards: '',
                wardcoords: '',
                coords: this.county,
                concoords: {},
            }
        },

        mounted() {

            this.initMap();
            // Second map


        },
        methods: {
            mutisya() {
                axios.get('/county/' + this.countys).then(resp => {
                    this.coords = resp.data;
                    this.initMap();
                });
                axios.get('/constituency/' + this.countys).then(resp => {
                    this.allconstituency = resp.data;
                });


            },
            initMap() {
                var map;
                var infoWindow;
                map = new google.maps.Map(document.getElementById('maps'), {
                    zoom: 8,
                    center: this.coords['center'] ? {
                        lat: JSON.parse(this.coords['center']).lat,
                        lng: JSON.parse(this.coords['center']).lon
                    } : {lat: -2.155226, lng: 37.787627},
                    mapTypeId: 'terrain'
                });

                // Define the LatLng coordinates for the polygon.
                var triangleCoords = this.coords['c'] ? this.coords['c'] : this.coords;

                // Construct the polygon.
                var bermudaTriangle = new google.maps.Polygon({
                    paths: triangleCoords,
                    strokeColor: '#ff1d15',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#ff4e33',
                    fillOpacity: 0.35,
                    name: 'Kibwezi West',
                    map: map
                });
                // google.maps.event.addListener(bermudaTriangle, 'click', showArrays());

                bermudaTriangle.setMap(map);

                infoWindow = new google.maps.InfoWindow;

                function showArrays(event) {
                    // Since this polygon has only one path, we can call getPath() to return the
                    // MVCArray of LatLngs.


                    var contentString = '<b>Kibwezi WEst</b><br>';


                    // Replace the info window's content and position.
                    infoWindow.setContent(contentString);
                    infoWindow.setPosition(event.latLng);

                    infoWindow.open(map);
                }

            },
            drawcon() {
                axios.get('/constituencygeo/' + this.constituency).then(resp => {
                    this.concoords = resp.data;
                    this.initCon();
                });
                axios.get('/ward/' + this.constituency).then(resp => {
                    this.allwards = resp.data;
                });

            },
            getwardcoords() {
                axios.get('/wardco/' + this.ward).then(resp => {
                    this.wardcoords = resp.data;
                    this.drawward();
                });
            },
            drawward(){
                var map;
                var infoWindow;
                map = new google.maps.Map(document.getElementById('maps'), {
                    zoom: 10,
                    center: this.coords['center'] ? {
                        lat: JSON.parse(this.wardcoords['center']).lat,
                        lng: JSON.parse(this.wardcoords['center']).lon
                    } : {lat: -2.155226, lng: 37.787627},
                    mapTypeId: 'terrain'
                });

                // Define the LatLng coordinates for the polygon.
                var triangle = this.coords['c'] ? this.coords['c'] : this.coords;

                // Construct the polygon.
                var trier = new google.maps.Polygon({
                    paths: triangle,
                    strokeColor: '#ff1d15',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#ff4e33',
                    fillOpacity: 0.35,
                    name: 'Kibwezi West',
                    map: map
                });
                // constituency map
                // Define the LatLng coordinates for the polygon.
                var constitue = this.concoords['c'] ? this.concoords['c'] : this.concoords;

                // Construct the polygon.
                var con = new google.maps.Polygon({
                    paths: constitue,
                    strokeColor: '#5d6fff',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#c369ff',
                    fillOpacity: 0.35,
                    name: 'Kibwezi West',
                    map: map
                });
                var wards = this.wardcoords['c'] ? this.wardcoords['c'] : this.wardcoords;
                var ward = new google.maps.Polygon({
                    paths: wards,
                    strokeColor: '#68ff3e',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#88ff83',
                    fillOpacity: 0.35,
                    name: 'Ward',
                    map: map
                });
                // google.maps.event.addListener(trier, 'click', showArrays());

                trier.setMap(map);

                infoWindow = new google.maps.InfoWindow;
            },
            initCon() {
                var map;
                var infoWindow;
                map = new google.maps.Map(document.getElementById('maps'), {
                    zoom: 8,
                    center: this.coords['center'] ? {
                        lat: JSON.parse(this.coords['center']).lat,
                        lng: JSON.parse(this.coords['center']).lon
                    } : {lat: -2.155226, lng: 37.787627},
                    mapTypeId: 'terrain'
                });

                // Define the LatLng coordinates for the polygon.
                var triangle = this.coords['c'] ? this.coords['c'] : this.coords;

                // Construct the polygon.
                var trier = new google.maps.Polygon({
                    paths: triangle,
                    strokeColor: '#ff1d15',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#ff4e33',
                    fillOpacity: 0.35,
                    name: 'Kibwezi West',
                    map: map
                });
                // constituency map
                // Define the LatLng coordinates for the polygon.
                var constitue = this.concoords['c'] ? this.concoords['c'] : this.concoords;

                // Construct the polygon.
                var con = new google.maps.Polygon({
                    paths: constitue,
                    strokeColor: '#5d6fff',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#c369ff',
                    fillOpacity: 0.35,
                    name: 'Kibwezi West',
                    map: map
                });
                // google.maps.event.addListener(trier, 'click', showArrays());

                trier.setMap(map);

                infoWindow = new google.maps.InfoWindow;


            }
        },

    }
</script>

<style scoped>

    #maps {
        height: 400px;
        width: 100%;
        /*border: 1px solid blue;*/
    }

</style>
